$primary: #6c79db;
$red: #fc6c6c;
$blue: #56abf7;
$green: #49d0b0;
$yellow: #ffcf4b;
$purple: #7c538d;
$brown: #b3776e;

/* $bug: #a6b91a;
$dark: #705746;
$dragon: #6f35fc;
$electric: #f7d02c;
$fairy: #d685ad;
$fighting: #c22e28;
$fire: #ee8130;
$flying: #a98ff3;
$ghost: #735797;
$grass: #7ac74c;
$ground: #e2bf65;
$ice: #96d9d6;
$monster: #6db9f8;
$normal: #a8a77a;
$poison: #a33ea1;
$psychic: #f95587;
$rock: #b6a136;
$steel: #b7b7ce;
$water: #6390f0; */

$bug: #6ACCAF;
$dark: #00172B;
$dragon: #5D00EE;
$electric: #F6CD52;
$fairy: #E34478;
$fighting: #E43B00;
$fire: #E65049;
$flying: #9E89E8;
$ghost: #4E006C;
$grass: #83C350;
$ground: #7A594A;
$ice: #95D0D1;
$monster: #6DB9F8;
$normal: #A3A373;
$poison: #9253B2;
$psychic: #DD899D;
$rock: #BD7F75;
$steel: #84888E;
$water: #75BDF9;

/*text*/
$text-active: #555555;
$text-inactive: #999999;

$beige2: #a8a878;
$black2: #303943;
$blue2: #429bed;
$brown2: #b1736c;
$darkBrown2: #795548;
$darkGrey2: #303943;
$grey2: #303943;
$indigo2: #6c79db;
$lightBlue2: #7ac7ff;
$lightBrown2: #ca8179;
$whiteGrey2: #fdfdfd;
$lightCyan2: #98d8d8;
$lightGreen2: #78c850;
$lighterGrey2: #f4f5f4;
$lightGrey2: #f5f5f5;
$lightPink2: #ee99ac;
$lightPurple2: #9f5bba;
$lightRed2: #fb6c6c;
$lightTeal2: #48d0b0;
$lightYellow2: #ffce4b;
$lilac2: #a890f0;
$pink2: #f85888;
$purple2: #7c538c;
$red2: #fa6555;
$teal2: #4fc1a6;
$yellow2: #f6c747;
$semiGrey2: #bababa;
$violet2: #7038f8;
