

.header {
  width: 100vw;
  height: 88px;
  margin-bottom: 20px;
  padding: 0px 10%;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 599px) {
    //width: 340px;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    width: 100%;
    //width: 460px;
  }

  @media screen and (min-width: 1000px) {
    width: 100%;
    //width: 940px;
  }

  &__img {
    img {
      width: auto;
      height: 50px;
    }
  }
}
