<ng-template ngFor let-pokemon [ngForOf]="pokemons">
  <ng-container *ngIf="pokemon.status">
    <a class="pokemon-card" [ngClass]="pokemon.status.types[0].type.name" [routerLink]="['/pokemon', pokemon.name]">
      <div class="pokemon-card__header">
        <div class="pokemon-card__id">#{{ pokemon.status.id }}</div>
        <div class="pokemon-card__name">{{ pokemon.name }}</div>
      </div>

      <div class="pokemon-card__body">
        <div class="pokemon-card__types">
          <ul *ngFor="let value of pokemon.status.types">
            <li class="pokemon-card__types-item">{{ value.type.name }}</li>
          </ul>
        </div>
        <div class="pokemon-card__image">
          <img
            [src]="pokemon.status.sprites.other.home.front_default"
            [alt]="pokemon.status.name"
          />
        </div>
      </div>
    </a>
  </ng-container>
</ng-template>
