<div class="pokemon-card grass">
  <div class="pokemon-card__header">
    <div class="pokemon-card__id">#001</div>
    <div class="pokemon-card__name">Bulbasaur</div>
  </div>

  <div class="pokemon-card__body">
    <div class="pokemon-card__types">
      <ul>
        <li class="pokemon-card__types-item">grass</li>
        <li class="pokemon-card__types-item">poison</li>
      </ul>
    </div>
    <div class="pokemon-card__image">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        alt="">
    </div>
  </div>
</div>
