<app-header></app-header>

<div class="home">
  <div class="home__search-bar">
    <app-search-bar (searchEmitter)="getPokemonByName($event)"></app-search-bar>
  </div>

  <div class="home__content">
    <app-pokemon-card [pokemons]="pokemonsList"></app-pokemon-card>

    <div class="toast" *ngIf="this.hasError">
      <div class="toast__message">
        <span style="color: #FB6C6C">Error: Pokémon not found!</span>
      </div>
      <button (click)="close()" class="toast__button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FB6C6C" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
    </div>
  </div>
</div>
