@import "../../../assets/scss/variables.scss";

:root {
  --chakra-transition-property-common: background-color, border-color, color,
    fill, stroke, opacity, box-shadow, transform;
  --chakra-transition-duration-slow: 300ms;
}

:host {
  .pokemon-details {
    &__content {
      height: 47%;
      padding: 8% 3.4% 0 3.4%;

      background: url("../../../assets/svgs/pokeball-rotated.svg");
      background-repeat: no-repeat;
      background-position: center bottom -40px;
      background-size: 250px;

      @media screen and (max-width: 599px) {
        height: 300px;
        padding: 44px 20px 0 20px;

        background-size: 142px;
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;

      margin-bottom: 30px;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      margin-bottom: 10px;

      font-weight: bold;
      text-transform: capitalize;
    }

    &__name {
      font-size: 2.5rem;
      color: #fff;

      @media screen and (max-width: 599px) {
        font-size: 2rem;
      }
    }

    &__id {
      font-size: 1.5rem;
      color: #fff;

      @media screen and (max-width: 599px) {
        font-size: 1.2rem;
      }
    }

    &__types {
      display: flex;
    }

    &__types-item {
      font-size: 1rem;
      color: #fff;
      text-align: center;
      text-transform: capitalize;

      width: fit-content;
      margin-right: 10px;
      padding: 5px 15px;
      border-radius: 15px;
      background-color: rgba(#fff, 0.2);

      @media screen and (max-width: 599px) {
        font-size: 0.8rem;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: baseline;

      a {
        padding: 0 30px;
        align-self: center;
      }

      img {
        width: 250px;
        height: 250px;

        @media screen and (max-width: 599px) {
          width: 130px;
          height: 130px;
        }
      }
    }

    &__info {
      //height: 53%;
      padding: 5%;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      background-color: #fff;
      border-radius: 36px 36px 0 0;

      @media screen and (max-width: 599px) {
        font-size: 0.9rem;
      }
    }

    &__info-content {
      order: 1;
      display: none;
      width: 100%;
      height: 100%;
      margin-top: 15px;
      //border: 1px solid red;
    }

    &__nav-tab {
      padding: 15px 0;
      color: $text-inactive;

      @media screen and (max-width: 599px) {
        font-size: 0.8rem;
      }
    }

    &__radio:checked + .pokemon-details__nav-tab {
      font-weight: bold;
      color: $text-active;
      border-bottom: 2px solid $purple;
    }

    &__radio:checked
      + .pokemon-details__nav-tab
      + .pokemon-details__info-content {
      display: initial;
    }

    &__item {
      margin: 15px 0;
    }

    &__item-label {
      min-width: 130px;
      color: $text-inactive;
      text-transform: capitalize;
    }

    &__item-value {
      min-width: 30px;
      margin-right: 10px;
      font-weight: bold;

      &--capitalized {
        min-width: 30px;
        margin-right: 10px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &__description {
      line-height: 1.4rem;
      color: $text-active;
    }

    &__card {
      display: flex;
      margin: 30px 0;
      padding: 15px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &__height {
      width: 50%;
    }
    &__weight {
      width: 50%;
    }

    &__section {
      margin-bottom: 25px;
    }

    &__section-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
    }

    &__section-title {
      margin-bottom: 15px;
    }

    &__progress-bar {
      width: 100%;
    }

    progress[value] {
      color: $blue;
      background: lightcoral;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      width: 100%;
      height: 0.25rem;

      border-radius: 6px;
      background: #EDF2F7;
    }
    progress[value]::-webkit-progress-bar {
      border-radius: 6px;
      background: #EDF2F7;
    }
    progress[value]::-webkit-progress-value {
      border-radius: 6px;
      background: $green;
    }
    progress[value]::-moz-progress-bar {
      border-radius: 6px;
      background: $green;
    }
  }



  .primary {
    background-color: $primary;
  }

  .red {
    background-color: $red;
  }

  .blue {
    background-color: $blue;
  }

  .green {
    background-color: $green;
  }

  .yellow {
    background-color: $yellow;
  }

  .purple {
    background-color: $purple;
  }

  .brown {
    background-color: $brown;
  }

  .normal {
    background-color: $normal;
  }

  .fire {
    background-color: $fire;
  }

  .water {
    background-color: $water;
  }

  .electric {
    background-color: $electric;
  }

  .grass {
    background-color: $grass;
  }

  .ice {
    background-color: $ice;
  }

  .fighting {
    background-color: $fighting;
  }

  .poison {
    background-color: $poison;
  }

  .ground {
    background-color: $ground;
  }

  .flying {
    background-color: $flying;
  }

  .psychic {
    background-color: $psychic;
  }

  .bug {
    background-color: $bug;
  }

  .rock {
    background-color: $rock;
  }

  .ghost {
    background-color: $ghost;
  }

  .dragon {
    background-color: $dragon;
  }

  .dark {
    background-color: $dark;
  }

  .steel {
    background-color: $steel;
  }

  .fairy {
    background-color: $fairy;
  }
}
