@import "../../../assets/scss/variables.scss";

:host {
  .pokemon-details {
    //height: 100vh;

    &__content {
      height: 47%;
      padding: 8% 3.4% 0 3.4%;

      background: url("../../../assets/svgs/pokeball-rotated.svg");
      background-repeat: no-repeat;
      background-position: center bottom -40px;
      background-size: 250px;

      @media screen and (max-width: 599px) {
        height: 300px;
        padding: 44px 20px 0 20px;

        background-size: 142px;
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;

      margin-bottom: 30px;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      margin-bottom: 10px;

      font-weight: bold;
      text-transform: capitalize;
    }

    &__name {
      font-size: 2.5rem;
      color: #fff;

      @media screen and (max-width: 599px) {
        font-size: 2rem;
      }
    }

    &__id {
      font-size: 1.5rem;
      color: #fff;

      @media screen and (max-width: 599px) {
        font-size: 1.2rem;
      }
    }

    &__types {
      display: flex;
    }

    &__types-item {
      font-size: 1rem;
      color: #fff;
      text-align: center;
      text-transform: capitalize;

      width: fit-content;
      margin-right: 10px;
      padding: 5px 15px;
      border-radius: 15px;
      background-color: rgba(#fff, 0.2);

      @media screen and (max-width: 599px) {
        font-size: 0.8rem;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: baseline;

      img {
        width: 250px;
        height: 250px;

        @media screen and (max-width: 599px) {
          width: 130px;
          height: 130px;
        }
      }
    }

    &__info {
      height: 53%;
      padding: 5%;

      background-color: #fff;
      border-radius: 36px 36px 0 0;
    }
  }

  .primary {
    background-color: $primary;
  }

  .red {
    background-color: $red;
  }

  .blue {
    background-color: $blue;
  }

  .green {
    background-color: $green;
  }

  .yellow {
    background-color: $yellow;
  }

  .purple {
    background-color: $purple;
  }

  .brown {
    background-color: $brown;
  }

  .normal {
    background-color: $normal;
  }

  .fire {
    background-color: $fire;
  }

  .water {
    background-color: $water;
  }

  .electric {
    background-color: $electric;
  }

  .grass {
    background-color: $grass;
  }

  .ice {
    background-color: $ice;
  }

  .fighting {
    background-color: $fighting;
  }

  .poison {
    background-color: $poison;
  }

  .ground {
    background-color: $ground;
  }

  .flying {
    background-color: $flying;
  }

  .psychic {
    background-color: $psychic;
  }

  .bug {
    background-color: $bug;
  }

  .rock {
    background-color: $rock;
  }

  .ghost {
    background-color: $ghost;
  }

  .dragon {
    background-color: $dragon;
  }

  .dark {
    background-color: $dark;
  }

  .steel {
    background-color: $steel;
  }

  .fairy {
    background-color: $fairy;
  }
}
