<div class="pokemon-details grass">
  <div class="pokemon-details__nav">
    <object data="../../../assets/svgs/arrow-left.svg" width="36px" height="36px"></object>

    <object data="../../../assets/svgs/heart.svg" width="36px" height="36px"></object>
  </div>

  <div class="pokemon-details__header">
    <div class="pokemon-details__name">Bulbasaur</div>
    <div class="pokemon-details__id">#001</div>
  </div>

  <div class="pokemon-details__content">
    <div class="pokemon-details__types">
      <div class="pokemon-details__types-item">grass</div>
      <div class="pokemon-details__types-item">poison</div>
    </div>

    <div class="pokemon-details__image">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        alt="">
    </div>
  </div>


  <div class="pokemon-details__nav-tab"></div>
</div>
