/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './assets/scss/variables.scss';

* {
  font-family: 'Roboto', sans-serif;
  color: $text-active;

  box-sizing: border-box;
}
